header {
	background: #BBBBBB;
	padding: 20px 0;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 110px;
	right: 0; 
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

/* contato.html*/

form {
	margin: 40px 0;
}

.contato-formulario {
	width: 640px;
	margin-left: auto;
	margin-right: auto;
	/* Centralizando a div, sem centralizar o conteudo */
}

form label, form legend {
    display:block;
    font-size: 17px;
}

.contatos-horario {
	font-size: 17px;
}

.input-padrao {
    display: block;
    padding: 10px 25px;
    width: 90%;
}

.contato-pergunta {
	margin-bottom: 15px;
	margin-top: 30px;
}

.contato-resposta {
	margin-bottom: 10px;
}

.checkbox {
    margin: 20px 0;
}

.Enviar {
	width:50%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
.Enviar:hover {
    background: darkorange;
    transform: scale(1.2);
}

/* produtos.html */
.produtos {
	width: 80%;
	margin: 0 auto;
	padding: 50px 0;
}

.produtos li {
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.produtos li:hover {
	border-color: #C78C19;
}

.produtos li:active {
	border-color: #088C19;	
}

.produtos li:hover h2 {
	font-size: 34px;
}

.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}

.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}

/* Página de contato */


.contato label, .input-group legend {
	display: block;
	margin: 0 0 5px;
	font-size: 20px;
}

fieldset {
	margin-top: 30px;
}

select {
	padding:10px 60px 10px;
}

.campo-padrao, textarea {
	display: block;
	margin: 0 0 30px;
	padding: 10px 20px;
	width: 50%;
	border: 1px solid #aaa;
}

.input-group {
	margin: 0 0 20px;
}

.newsletter {
	margin: 0 0 20px;
}

.botao {
	margin: 20px 0 0;
	width: 30%;
	padding: 10px 20px;
	font-size: 24px;
	display: inline-block;
	background: orange;
	color: white;
	border: none;
	border-radius: 5px;
	transition: 1s;
}

.botao:hover {
	cursor: pointer;
	transform: scale(1.2);	
}

.funcionamento {
	width: 940px;
	margin: 0 auto 40px;
}

table {
    margin: 20px 0 40px;
}

thead {
	background: #777777;
	color: #FFFFFF;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 10px 25px;
}

/* Conteúdo pág Sobre a Barbearia Alura*/

.banner {
	width: 100%;
}
.principal {
	width: 940px;
    margin: 0 auto;
}

.titulo-principal {
	font-size: 2em;
	margin: 0 0 1em;
	text-align: center;
	clear: left;
}

.principalStrong {
	font-weight: bold;
}

.principalP {
	font-style: italic;
}

.utensilios {
	width: 150px;
	float: left;
	margin: 0 20px 20px 0;
}

p {
	font-size: 17px;
	margin: 0 0 20px;
}
.mapa {
    margin: 0 auto;
    padding: 3em 0;
    background: linear-gradient(#FEFEFE, #888888);
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.principal {
    padding-top: 3em;
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.beneficios {
    padding: 3em 0;
    background: #888888;
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens:first-child {
    font-weight: bold;
}

.itens:before {
	content: "★";
}

.imagem-beneficios {
    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px 0 #000000;
}

.imagem-beneficios:hover {
    opacity: 0.3;
}

.video {
   margin: 2em auto;
   text-align: center;
   width: 740px;
   }

body {
	font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 480px){
	/*Adaptação para dispositivo móvel da pag index.html*/
	.caixa, .principal, .mapa-conteudo, .conteudo-beneficios, .video
		{width: auto;
	}
	.conteudo-beneficios
		{display: inline-block;
	}

	.principal-strong{
		text-align: justify-all;
	}

	.mapa-conteudo
		{width: 90%;
		text-align: center;
	}
	h1
		{text-align: center;
	}
	nav 
		{position: static;
	}
	nav > ul {
		text-align: center;
	}

	.lista-beneficios, .imagem-beneficios, .principal, .titulo-principal {
		width: 90%;
		margin-right: 5%;
		margin-left: 5%;
	}

	.imagem-beneficios {
		margin-top: 1em;
	}

	.video {
		margin-top: 1,5em;
	}

	p {
		line-height:25px;
	}

	/*Adaptação para dispositivo móvel da pag produtos.html*/	

	.produtos li {
		display: block;
		width: 94%;
		padding: 1.5em 0.5em 0;
		margin-bottom: 1em;
	}

	/* Adaptação para dispositivo da pág contatos.html */

	.contato-formulario {
		width: auto;
	}

	.input-padrao {
	    width: 80%;
	    margin: auto;
	 }

	.contato-pergunta, .contato-resposta, select {
		margin-left: 1rem;
	}

	.Enviar {
		margin-left: 25%
	}

	table {
		margin-left: 15%
	}
}